.header__list-item {
  display: flex;
  margin-right: 18px;
  margin-bottom: auto;
}

.header__list-item:last-child {
  margin-right: 0;
}

@media (max-width: 320px) {
  .header__list-item {
    margin-top: 14px;
  }
}

@media (min-width: 321px) {
  .header__list-item {
    margin-top: 18px;
  }
}
