.header__lang-link {
  display: flex;
  max-width: fit-content;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
  color: #fff;
  margin: auto 18px auto 0;
}

.header__lang-link:last-child {
text-decoration: none;
}