.intro__list {
  list-style: none;
  max-width: 690px;
  line-height: 18px;
  font-size: 12px;
  margin-top: 33px;
  font-weight: 400;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .intro__list {
    margin-top: 26px;
  }
}
