.lead {
  width: 100%;
  margin: 0 auto;
  padding-top: 56px;
}

@media (max-width: 1224px) {
  .lead {
    padding-top: 48px;
    max-width: 928px;
  }
}

@media (min-width: 1225px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
