.cover__subtitle {
  position: absolute;
  z-index: 3;
  top: 429px;
  left: 412px;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  font-weight: normal;
}
