.place__paragraph {
  grid-area: paragraph;
  max-width: 484px;
  height: fit-content;
  line-height: 29.34px;
  font-size: 18px;
  margin-top: 26px;
  font-weight: 400;
}

.place__paragraph:first-child {
  margin-top: 0;
}

@media (max-width: 320px) {
  .place__paragraph {
    margin: 0 16px;
  }
}
