.place__paragraph {
  grid-area: paragraph;
  max-width: 484px;
  height: fit-content;
  line-height: 29.34px;
  font-size: 18px;
  margin-top: 26px;
}

.place__paragraph:first-child {
margin-top: 0;
}

