.footer__copyright {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  max-width: fit-content;
}

@media (max-width: 767px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
  }
}

@media (min-width: 768px) {
  .footer__copyright {
    line-height: 16px;
  }
}
