.footer__copyright {
  display: flex;
  font-size: 14px;
  max-width: fit-content;
  height:fit-content;
}

@media (max-width: 767px) {
.footer__copyright {
  line-height: 14px;
  align-self: end;
  
}
}

@media (min-width: 768px) {
.footer__copyright {
  line-height: 16px;
}
}